<br> 

<img class="first-slide" src="{{ product.coverImage }}" alt="First slide"> 
<h1>{{ product.name }}</h1>

<h2>{{ product.price }}</h2>

<h3>{{ product.description }}</h3>

<div class="row">
    <div class="col-lg-4">

        <h2>{{ product.heading1 }}</h2>
        <p>{{ product.headingtext1}}</p>

    </div>

    <div class="col-lg-4">
        <h2>{{ product.heading2 }}</h2>
        <p>{{ product.headingtext2}}</p>
        
    </div>

    <div class="col-lg-4">
        <h2>{{ product.heading3 }}</h2>
        <p>{{ product.headingtext3}}</p>
    </div>
</div>
